
<div class="mainbanner" id="container-1">
    <div class="banner">
      <h1> The Future of Tennis is Now </h1>
      <h3>Available for pre-order the tickets to this year </h3>
    </div>

</div>
<div class="container-2" id="video">

           
    <div class="text-block">
<h3> Australian Open 2021 quarantine rules: disqualification from future tournaments. </h3>
      <p>  <span> Players in Melbourne </span>  will be subjected to strict rules about what they can and cannot do in a bid to restrict any potential spread of Covid-19. </p>

     
      </div>
         
      <div class="reveal-film"> <iframe width="50%" height="450" src="https://www.youtube.com/embed/GsKHnwJqoYU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

    